body {
  margin: 0;
  padding: 0;
  font-family: "Barlow", sans-serif;
  width: 100vw;
}

/* Hero Section */
.hero-section {
  background-image: url(images/image-header.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 30px;
}

nav .nav-links {
  display: flex;
  gap: 50px;
}

nav .nav-links a {
  text-decoration: none;
  color: whitesmoke;
}

nav .nav-links button {
  border: none;
  width: 100px;
  padding: 10px;
  font-size: 16px;
  font-family: "Barlow";
  font-weight: 600;
  border-radius: 40px;
  margin-top: -10px;
}

nav .icon-hamburger {
  display: none;
}

.hero-section h1 {
  font-size: 60px;
  text-align: center;
  color: white;
  font-family: "fraunces";
  letter-spacing: 5px;
  padding: 100px;
}

.hero-section .hero-arrow img {
  padding-left: 50%;
}

/* First Flex Section */

.first-flex-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}

.flex-one-item {
  margin: auto;
  width: 50%;
}

.flex-one-item h2 {
  font-size: 30px;
  font-family: "fraunces";
  font-weight: 900;
}

.flex-one-item p {
  line-height: 30px;
  font-family: "Barlow";
  font-weight: 600;
  color: hsl(232, 10%, 55%);
}

.flex-one-item a {
  text-decoration: none;
  color: black;
  font-weight: 700;
  font-family: "Fraunces";
}

.flex-one-container img {
  height: auto;
}
/* Second Flex Section */

.flex-two-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: auto;
}

.flex-two-item {
  margin: auto;
  width: 50%;
}

.flex-two-container img {
  width: 100%;
  /* height: auto; */
}

.flex-two-item h2 {
  font-size: 30px;
  font-family: "fraunces";
  font-weight: 900;
  /* text-align: center; */
  /* margin: auto;
  padding-left: 150px;
  margin-bottom: 50px; */
}

.flex-two-item p {
  line-height: 30px;
  font-family: "Barlow";
  font-weight: 600;
  color: hsl(232, 10%, 55%);
  width: 100%;
}

.flex-two-item a {
  text-decoration: none;
  color: black;
  font-weight: 700;
  font-family: "Fraunces";
}

.flex-two-item {
  margin: auto;
}

.background-image-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* height: 100vh; */
}

.background-image-graphics {
  background-image: url(images/image-graphic-design.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
}

.photography-container {
  background-image: url(images/image-photography.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.background-image-container h3 {
  font-family: "fraunces";
  font-weight: 700;
  font-size: 32px;
  color: hsl(167, 40%, 24%);
  text-align: center;
  padding-top: 350px;
}

.background-image-container p {
  line-height: 25px;
  font-weight: 500;
  text-align: center;
  color: hsl(167, 40%, 24%);
  width: 50%;
  margin: auto;
}

.background-image-container span {
  color: hsl(198, 62%, 26%);
}

/* Testimonials */

.testimonial {
  display: flex;
  justify-content: space-evenly;
  margin: 100px;
  gap: 0;
  text-align: center;
  margin-top: 50px;
  padding-left: 80px;
}

.testimonial img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-left: 20px;
}

.testimonial p {
  font-family: "Barlow";
  line-height: 25px;
}

.testimonial h5 {
  font-family: "fraunces";
  font-size: 16px;
}

.testimonial span {
  font-family: "Barlow";
  font-size: 10px;
  color: hsl(232, 10%, 55%);
  position: relative;
  top: -30px;
  letter-spacing: 1px;
}

h4 {
  text-align: center;
  margin-top: 100px;
  letter-spacing: 10px;
  color: hsl(232, 10%, 55%);
}

/* Gallery */
.gallery {
  display: flex;
  padding-bottom: 0px;
}

.gallery img {
  width: 100%;
  height: auto;
}

footer {
  background-color: hsla(167, 40%, 52%, 0.7);
  height: 300px;
  margin-top: -30px;
}

footer h5 {
  text-align: center;
  font-family: "Barlow";
  font-size: 30px;
  font-weight: 750;
  letter-spacing: 1px;
  margin: auto;
  color: rgb(48, 114, 100);
  padding: 100px;
  padding-bottom: 20px;
}

.footer-links {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
}

.footer-links a {
  text-decoration: none;
  color: rgb(48, 114, 100);
}

.footer-icons {
  display: flex;
  gap: 30px;
  justify-content: center;
  padding: 50px;
}

/* Responsiveness Mobile*/

@media (max-width: 576px) {
  body {
    margin: 0;
    padding: 0;
  }
  /* Navigation */
  nav .nav-links {
    display: none;
  }
  nav .icon-hamburger {
    display: flex;
    border: none;
    background-color: transparent;
  }
  /* Hero-section */

  .hero-section {
    background-image: url(images/image-header.jpg);
    background-position: center;
    background-size: cover;
    height: 70vh;
    background-repeat: no-repeat;
  }

  .hero-section h1 {
    font-size: 32px;
    font-weight: 800;
    padding: 0;
    width: 80%;
    text-align: center;
    padding-left: 60px;
  }

  /* First Flex */

  main .first-flex-container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  main .first-flex-container .flex-one-item {
    text-align: center;
    padding-bottom: 50px;
    padding-top: 50px;
    width: 66%;
  }

  main .first-flex-container .flex-one-item p {
    margin-bottom: 50px;
  }

  /* Second Flex */

  main .flex-two-container {
    display: block;
    text-align: center;
  }

  main .flex-two-container .flex-two-item {
    text-align: center;
    padding-bottom: 50px;
    padding-top: 50px;
    width: 66%;
  }

  main .flex-two-container .flex-two-item p {
    margin-bottom: 50px;
  }

  main .flex-two-container .flex-two-item span {
    text-align: center;
  }

  /* Background Images: Graphics and Photography */

  .background-image-container {
    display: block;
    margin-top: 0;
    height: 100%;
    padding: 0;
  }

  /* .background-image-graphics {
    background-image: url(images/image-graphic-design.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: auto;
  }

  .photography-container {
    background-image: url(images/image-photography.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  } */

  .testimonial {
    display: block;

    width: 80%;
    margin-left: 0;
    padding-left: 0;
    align-items: center;
    padding-left: 40px;
  }

  .background-image-container h3 {
    font-family: "fraunces";
    font-weight: 800;
    font-size: 24px;
    color: hsl(167, 40%, 24%);
    text-align: center;
    padding-bottom: 5px;
  }

  .background-image-container p {
    line-height: 25px;
    font-weight: 500;
    /* text-align: center; */
    color: hsl(167, 40%, 24%);
    padding-bottom: 50px;
    width: 70%;
    margin: auto;
  }

  .testimonial img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 20px;
  }

  .testimonial p {
    font-family: "Barlow";
    line-height: 16px;
    text-align: center;
  }

  .gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 0;
  }
}

/* Responsiveness Tablet */
@media (min-width: 577px) and (max-width: 991px) {
  body {
    margin: 0;
    padding: 0;
  }

  /* Navigation */
  nav .nav-links {
    display: none;
  }
  nav .icon-hamburger {
    display: flex;
    border: none;
    background-color: transparent;
  }
  /* Hero Section */
  .hero-section {
    height: 80vh;
  }

  .hero-section h1 {
    font-size: 40px;
    font-weight: 800;
    padding-top: 50px;
    width: 70%;
    text-align: center;
    padding-left: 110px;
    padding-bottom: 0;
  }

  .hero-section .hero-arrow img {
    padding-left: 50%;
    margin-bottom: 200px;
  }

  /* First Flex Section */
  main .first-flex-container {
    display: flex;
    flex-direction: column-reverse;
  }

  .flex-one-container img {
    /* height: 50%; */
    width: 100%;
  }

  main .first-flex-container .flex-one-item {
    text-align: center;
    padding-bottom: 50px;
    padding-top: 50px;
    width: 66%;
  }

  main .first-flex-container .flex-one-item p {
    margin-bottom: 50px;
  }

  /* Second Flex */

  main .flex-two-container {
    display: block;
    text-align: center;
  }

  main .flex-two-container .flex-two-item {
    text-align: center;
    padding-bottom: 50px;
    padding-top: 50px;
    width: 66%;
  }

  main .flex-two-container .flex-two-item p {
    margin-bottom: 50px;
  }

  main .flex-two-container .flex-two-item span {
    text-align: center;
  }

  /* Background Images: Graphics and Photography */

  .background-image-container {
    display: block;
    margin-top: 0;
    height: 100%;
    padding: 0;
  }

  .background-image-container h3 {
    font-family: "fraunces";
    font-weight: 800;
    font-size: 24px;
    color: hsl(167, 40%, 24%);
    text-align: center;
    padding-bottom: 5px;
  }

  .background-image-container p {
    line-height: 25px;
    font-weight: 500;
    color: hsl(167, 40%, 24%);
    padding-bottom: 50px;
    width: 70%;
    margin: auto;
  }

  .testimonial {
    display: block;
    margin: auto;

    /* width: 80%; */
    margin-left: 0;
    padding-left: 0;
    align-items: center;
    /* padding-left: 50%; */
  }

  .gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 0;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
}
